<div class="reading-width main center">
	<h1>Coming soon...</h1>
	<p>But in the meantime, have you checked out our socials?</p>
	<p>Go give us a follow!</p>

	<br />

	{% include socials %}


	<br />
	<hr />
	<br />

	<p>okay, now that you've followed/subscribed to all our platforms, we guess you can go back to <a href="/">our home page</a>...</p>
</div>
