<footer class="center">
	<p>Copyright &copy;
		<script>document.write(new Date().getFullYear())</script>
		<noscript>{{ "now" | date: "%Y" }}</noscript>
		King's College London Engineering Society</p>
</footer>
