<header>
  <div class="logo">
    <a href="/" >
      <img src="/static/img/kcles-new-logo-min.png" alt="KCL Engineering Society logo" />
    </a>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/events">Events</a>
    <a href="/contact/">Contact Us</a>
    <a href="https://www.kclsu.org/organisation/11124/">Membership</a>
  </nav>
</header>
