<header>
	<div class="logo">
		<a href="/" >
			<img src="/static/img/kcles-new-logo-min.png" alt="KCL Engineering Society logo" />
		</a>
	</div>

	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/committee">Committee</a>
		<a href="/events">Events</a>
		<a href="/newsletter">Newsletter</a>
	</nav>
</header>
