<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Surprised this isn't Squarespace or Wix, eh? -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>KCLES | {{ title }}</title>

	<!-- SEO and meta tags -->
	<meta name="description"
		content="The KCL Engineering Society is the oldest collegiate society of its kind. Our society runs workshops, hosts external speakers, and social events." />

	<meta property="og:site_name" content="King's College London Engineering Society" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:image" content="/static/android-chrome-192x192.png" />
	<meta name="twitter:image" content="/static/android-chrome-192x192.png" />
	<meta property="og:image:alt" content="Page image for King's College London Engineering Society" />
	<meta name="twitter:image:alt" content="Page image for King's College London Engineering Society" />

	<meta name="robots" content="index" />
	<meta name="robots" content="noai" />

	<!-- Icons and styling -->
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
	<link rel="manifest" href="/static/site.webmanifest" />

	<link rel="stylesheet" href="/static/css/site.css" />
	<style>
		body, html {
			height: 100%;
			transform: translateZ(0);
		}
	</style>
</head>

<body>
	{{ content }}
</body>

</html>
