footer {
	background-color: var(--kcles-red);
	color: var(--white-text-color);
	width: 100%;
	margin-top: 2em;
	padding: 2em;
	display: flex;
	flex-direction: row;
	flex: wrap;
	align-items: center;
	justify-content: center;
}
