/* Mobile optimisations; 768px is the typical tablet width in portrait mode, 1024px for any laptop */
@media screen and (max-width: 768px) {
	body {
		max-width: 100%;
		margin: 0;
	}

	header {
		position: static;
		flex-direction: column;
		padding: 0 1.25em;
		padding-top: 0.25em;
	}

	header .logo {
		width: 100%;
		text-align: center;
	}

	header a {
		margin: auto;
	}

	header nav {
		width: 100%;
		margin-top: 1.5em;
		justify-content: center;
		gap: 0 1.25rem;
	}

	header nav a {
		font-size: 1.1em;
	}

	main {
		width: auto;
		margin: 0.5em 1.5em;
	}

	.home-content {
		margin: 0 auto;
		width: 85%;
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	.home-content section {
		width: 100%;
		text-align: start;
		word-wrap: break-word;
		hyphens: manual;
	}

	.emphasis {
		font-size: 2.5rem;
	}

	.large {
		font-size: 1.75rem;
	}

	.reading-width {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1024px) {
	header {
		padding: 1em 1.25rem;
	}
}
