/* CSS resets, to normalise styling across all browsers */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	line-height: 1.5;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	font-size: 1em;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.875rem;
}

/* Now we get to work. */
@font-face {
	font-family: "Karla";
	src:
		url("/static/fonts/Karla.woff2") format("woff2"),
		url("/static/fonts/Karla.ttf") format("ttf");
}

@font-face {
	font-family: "Playfair Display";
	src:
		url("/static/fonts/PlayfairDisplay.woff2") format("woff2"),
		url("/static/fonts/PlayfairDisplay.ttf") format("ttf");
}

:root {
	/* 3 colour palette here https://coolors.co/111111-f5f5f5-f2be41*/
	--background-color: #fafafa;
	--darker-background-color: #f0f0f0;
	--text-color: #111;
	--light-text-color: #888;
	--kcles-yellow: #f2be41;
}

.gray {
	color: var(--light-text-color);
}

/* Helper generic classes (eg. sizing, alignment, fonts) */
.serif {
	font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

.sans-serif {
	font-family:
		"Karla",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: right;
}

.emphasis {
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

.large {
	font-size: 2rem;
}

.medium {
	font-size: 1.25rem;
}

.regular {
	font-size: 1rem;
}

.fill {
	min-height: 100vh;
}

.no-underline {
	text-decoration: none;
}

/* CSS specific to elements or certain elements */
html {
	font-family:
		"Karla",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	font-size: 21px;
	background-color: var(--background-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

a {
	text-decoration: underline;
	color: var(--text-color);
}

a:hover {
	transition: 0.175s;
	color: var(--kcles-yellow);
	opacity: 0.8;
}
a:hover > svg {
	transition: 0.175s;
	opacity: 0.5;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 1em 10rem;
	margin: 0;
}

header .logo {
	width: 25%;
}

header .logo a {
	max-width: fit-content;
	display: block;
}

header img {
	height: 5rem;
	width: auto;
}

header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 75%;
	justify-content: end;
	gap: 0 2.5em;
}

header nav a {
	font-size: 1.25em;
	display: block;
	text-decoration: none;
}

main {
	width: 80%;
	min-height: 100vh;
	height: fit-content;
	line-height: 1.5;
	margin: 0 auto;
}

.home {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.home-content {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5rem;
}

.home-content > div {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	gap: 1.5rem;
}

.home-content section {
	width: 45%;
}

.home-content img {
	max-height: 15em;
	width: auto;
	object-fit: contain;
}

.eventItem {
	margin: 1em 0;
	font-size: 1rem;
}

.socials {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.icon-button {
	display: block;
	max-width: fit-content;
}

.reading-width {
	width: 65%;
	margin: 0 auto;
}

footer {
	background-color: var(--darker-background-color);
	width: 100%;
	margin-top: 2em;
	padding: 2em;
	display: flex;
	flex-direction: row;
	flex: wrap;
	align-items: center;
	justify-content: center;
}

/* Animations */
.fade-in {
	animation: fadeIn 2s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Mobile optimisations; 768px is the typical tablet width in portrait mode, 1024px for any laptop */
@media screen and (max-width: 768px) {
	html {
		font-size: 18px;
	}

	body {
		max-width: 100%;
		margin: 0;
	}

	header {
		flex-direction: column;
		padding: 0 1.25em;
		padding-top: 0.25em;
	}

	header .logo {
		width: 100%;
		text-align: center;
	}

	header a {
		margin: auto;
	}

	header nav {
		width: 100%;
		margin-top: 1.5em;
		justify-content: center;
	}

	header nav a {
		font-size: 1.1em;
	}

	main {
		width: auto;
		margin: 0.5em 1.5em;
	}

	.home-content section {
		width: 100%;
		text-align: start;
		word-wrap: break-word;
		hyphens: manual;
	}

	.emphasis {
		font-size: 2rem;
	}

	.large {
		font-size: 2rem;
	}

	.reading-width {
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	header {
		padding: 1em 1.25rem;
	}
}

/* Accessibility styling */
@media (prefers-reduced-motion) {
	@keyframes fadeIn {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}
}
