---
layout: default
title: Contact Us
permalink: /contact/
---

<div class="reading-width main">
  <h1>Contact Us</h1>
  <p>If you have any questions or would like to get in touch with the KCL Engineering Society, please email us at:</p>
  <p><a href="mailto:engineeringsoc.kcl@gmail.com">engineeringsoc.kcl@gmail.com</a></p>

  <p>We aim to respond within 3 business days.</p>
</div>
